body{
 background-color: #2F4F4F;
}

.marca{
  text-align: center;
  color: #FF6347;
  font-size: 43px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
}

.myApp{
  text-align: center;
}

.inputInfo{
  width: 700px;
  margin-top: 10px;
  border-radius: 15px;
  border-color: #FF6347;
  border-width: 3px;
  padding: 10px;
  background-color: #F8F8FF;
  font-size: 18px;
  color:#2F4F4F;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

